.homeContainer{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-image:url('./Pics/eggs.jpg');
    height: 100vh;
    width: 100vw;
}
.slides{
    height: 50vh;
}
.main-logo{
    height: 25vh;
    width: 40vw;
}